* {
    font-family: Raleway;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    color: #262626;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

}

a,
a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

.section-title {
    font-size: 90px;
    font-weight: 700;
}

.button {
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
        outline: 3px solid;
        outline-offset: 12px;
        font-weight: 500;
        -ms-border: 3px dashed gray;
    }
    &:active {
        transform: scale(0.9);


    }
}

.image {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
    &:hover {
        transform: scale(1.1);
        z-index: 10;
    }
}

input:focus {
    font-weight: 700;
}

.main-navbar {
    max-width: 100%;
    margin: 45px 0;

    .navbar-brand {
        font-family: Pacifico;
        font-size: 50px;
        font-weight: 400;
        line-height: 50px;

    }
    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                box-sizing: border-box;
                line-height: 25px;
                padding: 0;



                .nav-link {
                    text-align: center;
                    padding: 5px 0;
                    margin: 0 15px;
                    color: #262626;
                    font-weight: 700;
                    border-top: 3px solid transparent;
                    display: inline-block;

                }
                &:hover > * {
                    border-top: 3px solid #ff6033 !important;
                }

            }
            .active {

                border-top: 3px solid #ff6033 !important;

            }
        }
    }
}

.section-header {

    background-image: url(img/header-img.png);
    background-size: cover;
    background-position: center;


    .header-info {
        padding-top: 354px;
        padding-left: 0;
        height: 100%;
        width: 100%;

        .header-info-text {
            padding-bottom: 404px;
            .header-title {
                font-size: 60px;
                font-weight: 900;
                margin-bottom: 22px;
            }
            .header-info-button {
                margin-top: 20px;
                padding: 20px 25px;
                background-color: #ff6033;
                color: #ffffff;
                &:hover {
                    outline-color: #ff6033;

                }
            }
        }
        .scroll-section {

            position: absolute;
            bottom: 69px;
            left: 0;
            text-align: center;
            animation: scroll-animation 1s linear infinite alternate;

        }
    }

}

.section-about-us {

    background-color: #00c4c4;
    background-image: radial-gradient(circle 1125px at center, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 32%, rgba(0, 173, 173, 0.9) 68%, rgba(0, 156, 156, 0.9) 100%);
    padding: 70px 15px;
    .about-us-img {
        display: flex;
        justify-content: center;
        align-items: center;
        .about-img {
            max-width: 100%
        }
    }

    .about-us-text {
        .section-title {
            margin-top: 100px;
            color: #ffffff;

        }
        p {
            color: #ffffff;

        }
    }
}

.section-our-services {
    background-color: #70bfff;
    padding-left: 15px;
    padding-right: 15px;
    .our-services-buttons {
        margin-top: 180px;
        margin-bottom: 150px;
        .button {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            background-color: #ffffff;
            margin-bottom: 20px;
            height: 100px;
            max-width: 400px;
            width: 100%;
            display: inline-table;

            span {
                width: 77.5%;
                text-align: center;
                font-weight: 700;
                display: table-cell;
                vertical-align: middle;
                text-align: center;


            }
            .service-icon {
                height: 100%;
                width: 22.5%;
                border-left: 1px solid #9d9d9d;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
            &:hover {
                outline-color: #ffffff;
            }
        }

    }
    .our-services-title {
        background: url(img/img-services.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        margin-top: 100px;
        margin-bottom: 164px;
        padding: 0;

        display: flex;
        align-items: center;
        min-height: 300px;

        .section-title {
            line-height: 100px;
            color: #ffffff;
        }

    }


}

.section-gallery {
    text-align: center;
    background-color: #ffe92f;
    padding-top: 100px;
    padding-bottom: 85px;
    & > * {
        box-sizing: border-box;
        object-fit: contain;

    }
    .section-title {
        font-size: 90px;
        font-weight: 700;
    }
    img {
        max-height: 100%;
        width: 100%;
        margin: 15px 0;

    }
    .button-gallery {
        margin: 35px;
        background-color: #5585a2;
        padding: 20px 43px;
        color: #ffffff;

        &:hover {
            outline-color: #5585a2;
        }
    }
}

.section-subscribe {
    background: url(img/bg-subscribe.png) no-repeat;
    background-size: contain;
    background-position: right;
    padding: 145px 0;
    .subscribe-title {
        font-size: 40px;
        font-weight: 700;
    }
    .subscribe-input {
        box-sizing: border-box;
        padding: 18px 28px;
        border: 1px solid #262626;
        max-width: 570px;
        width: 100%;
        margin-top: 30px;
        margin-right: 30px;
    }
    .subscribe-button {

        color: #ffffff;
        background-color: #96b92c;
        padding: 20px 30px;
        margin-top: 30px;
        margin-bottom: 20px;

        &:hover {
            outline-color: #96b92c;
        }
    }


}

.section-blog {

    padding: 100px 0;
    background-color: #b07cf7;
    .section-blog-text {

        & > * {
            text-align: center;
            color: #fff;
        }
    }
    .blog-group-cards {

        .card-1 {
            background: url(img/blog-img-1.png);


        }
        .card-2 {
            background-image: url(img/blog-img-2.png);



        }
        .card-3 {
            background-image: url(img/blog-img-3.png);

        }
        .blog-card {
            margin-bottom: 50px;
            margin-top: 50px;
            height: 310px;
            box-sizing: border-box;
            position: relative;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);


            &-date {
                text-align: center;
                border-radius: 5px;
                background: rgba(38, 38, 38, 0.5);
                color: #fff;
                width: 60px;
                font-size: 21px;
                font-weight: 700;
                height: 60px;
                margin: 30px;
                display: inline-block;
                .number {
                    font-size: 32px;
                    font-weight: 700;
                    color: #fff;
                }
            }
            &-text {
                padding: 50px 20px 23px;
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
                width: 100%;
                height: 50%;
                position: absolute;
                bottom: 0;
                color: #ffffff;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .blog-card-title {
                    font-weight: 700;
                    font-size: 20px;

                }
                .blog-card-subtitle {
                    font-size: 13px;
                    margin-bottom: 0;
                }
            }

        }
    }
    .blog-button {
        background-color: #f72b3b;
        padding: 20px 43px;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        &:hover {
            outline-color: #f72b3b;
        }
    }


}

.section-contact {
    padding: 100px 0;
    background: url(img/img-bg-contact.png) no-repeat;
    background-size: cover;
    .section-title,
    .contact-text {
        text-align: center;
        margin-bottom: 40px;
    }
    .form-group {
        input,
        textarea {
            height: 50px;
            max-width: 500px;
            width: 100%;
            margin: 7.5px 0;
            padding: 20px;
            box-sizing: border-box;
        }
        textarea {
            height: 250px;
        }
        .form-input {
            background-color: #00c4c4;
            opacity: 0.5;
            border: none;
            color: #fff;
            font-weight: 700;
            &:focus {
                opacity: 1;
                border-left: 5px solid #355b82;

            }

        }
    }
    .address-date {
        line-height: 25px;
        h5 {
            font-size: 17px;
            font-weight: 700;
            margin-bottom: 0;
        }
        p {
            font-size: 20px;


        }
    }
    ::placeholder {
        font-size: 15px;
        color: #fff;
    }
}

.page-footer {
    padding: 30px 0;
    background-color: #262626;

    min-height: 90px;
    .text-footer {
        color: #b9b9b9;
        line-height: 30px;
        &:nth-of-type(1) {
            font-size: 16px;
        }
        &:nth-of-type(2) {
            text-align: center;
            a {

                color: #b9b9b9;
                font-family: Pacifico;
                font-size: 25px;
                font-weight: 400;
            }
        }
        &:nth-of-type(3) {
            text-align: right;
            font-size: 15px;
            .love-text {
                color: #ff2b58;
                font-weight: 700;
            }
        }
    }


}


@media (max-width:991px) {
    .section-our-services {
        .our-services-buttons {
            order: 2;
            margin-top: 100px;
            margin-bottom: 50px;
        }
        .our-services-title {
            order: 1;
            margin-bottom: 0;
            margin-top: 50px;
        }
    }
    .section-about-us,
    .section-gallery,
    .section-subscribe,
    .section-blog,
    .section-contact {
        padding-bottom: 50px;
        padding-top:50px;
    }
    .button-gallery {
        margin-bottom: 0px !important;
    }
}

@media (max-width: 768px) {
    .text-footer {
        text-align: center !important;
    }
}

@media (max-width:576px) {
    .subscribe-input {
        margin-right: 0 !important;
    }
}

@media (max-width:400px) {
    .section-title {
        font-size: 70px !important;
    }
}

@media (max-width:300px) {
    .section-title {
        font-size: 50px !important;
    }
}

@keyframes scroll-animation {
    from {}
    to {
        opacity: 0.3;
    }
}
